<div id="dashboard">
  <% if current_user.status == 'free' %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Notice!</strong> You are currently in Sandbox mode<a href="#" data-toggle="tooltip" data-placement="bottom" class="help" title="Data returned in sandbox mode is unreliable and will sometimes be incorrect.">?</a>. <%= link_to 'Upgrade now', '/payments' %> to receive accurate shipping rates.
    </div>
  <% end %>
  
  <h1>Welcome to your RMAPI dashboard</h1>
  
  <div class="row-fluid">
    <div class="span6 well">
      <h2>Get started</h2>
      <p>
        Our API works by making a simple GET request
        to /api/v1/rates using the provided api access token below.
      </p>
      <p>
        <%= link_to 'Read the API Documentation', '/documentation', :class => 'documentation_link' %> to learn more about how to integrate.
      </p>
      <p>
        <code><%= current_user.authentication_token %></code>
        <a href="..." id="regenerate" class="btn">Regenerate Token</a>
      </p>
    </div>
    <div class="span6 well" id="manage_account">
      <h2>Manage your account</h2>
      <h4><span>Account Type:</span> <%= current_user.status.capitalize %></h4>
      <% if current_user.status == 'free' %>
        <a href="/payments" id="upgrade-action" class="btn btn-primary">Upgrade account</a>
      <% elsif current_user.status == 'paid' %>
        <a href="/payments/destroy" id="upgrade-action" class="btn">Downgrade account</a>
      <% end %>
    </div>
  </div>
</div>
