<div id="dashboard">
  <% if current_user.status == 'free' %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Notice!</strong> You are currently in Sandbox mode<a href="#" data-toggle="tooltip" data-placement="bottom" class="help" title="Data returned in sandbox mode is unreliable and will sometimes be incorrect.">?</a>. <%= link_to 'Upgrade now', '/payments' %> to receive accurate shipping rates.
    </div>
  <% end %>
  
  <h1>Welcome to your RMAPI dashboard</h1>
  
  <div id="auth_token" class="well">
  <h2>Your API authentication token is..</h2>
  <p>
    <code><%= current_user.authentication_token %></code>
    <a href="..." id="regenerate" class="btn">Regenerate Token</a>
    <%= link_to 'Read the API Documentation', '/documentation', :class => 'documentation_link' %>
  </p>
  
  </div>
</div>
