<div class="hero-unit">
  <div class="hero-inner">
    <h1>The only API for accessing Royal Mail&#8482; shipping rates</h1>
    <p>rmapi gives developers access to royal mail shipping rates through a simple API</p>
    <a href="/signup" class="btn btn-primary btn-large">
      Creat a free account!
    </a>
  </div>
</div>

<div class="row-fluid">
  <div class="row-inner">
    <div class="span4">
      <h2>Something really great!</h2>
      <p>test</p>
    </div>
    <div class="span4">
      <h2>Something else cool</h2>
      <p>test</p>
    </div>
    <div class="span4">
      <h2>And this?</h2>
      <p>test</p>
    </div>
  </div>
</div>

<hr />

<div class="sound-cool">
  <h2>Sound cool? Then why not try it out for free?</h2>
  <a href="/signup" class="btn btn-primary btn-large">
    Creat a free account!
  </a>
</div>