<div class="hero-unit">
  <div class="hero-inner">
    <h1>The only API for accessing Royal Mail&#8482; shipping rates</h1>
    <p>rmapi gives developers access to royal mail shipping rates through a simple API</p>
    <a href="/signup" class="btn btn-primary btn-large">
      Create a free account!
    </a>
  </div>
</div>

<div class="body-container">
  <div class="row-fluid" id="columns">
    <div class="row-inner">
      <div class="span4">
        <h2>More options for your customers</h2>
        <p>Our API allows you to offer more shipping options to your customers which puts more money in your pocket.</p>
      </div>
      <div class="span4">
        <h2>Dead simple to integrate</h2>
        <p>We offer SDKs for Ruby, PHP and JavaScript which make it easy to integrate with out API, usually with only a couple lines of code!</p>
      </div>
      <div class="span4">
        <h2>Start developing for free</h2>
        <p>We offer a sandbox version of our API at no charge which helps you become familiar with the API and integrate without having to pay a dime!</p>
      </div>
    </div>
  </div>
  
  <hr />
  
  <div class="sound-cool">
    <h2>Sound cool? Then why not try it out for free?</h2>
    <a href="/signup" class="btn btn-primary btn-large">
      Creat a free account!
    </a>
  </div>
</div>