@import "elements.css.less";

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    -webkit-font-smoothing: antialiased;
}

.navbar .nav-right {
    float: right;
}

.navbar .nav > li > a {
    padding: 20px 10px 21px;
    color: #fff;
}

.navbar .nav > li > a:hover {
    color: #bfe6e7;
}

.navbar .nav > li.active > a {
    background: #2d6f7f;
}

.navbar .nav > li.active > a:hover {
    background: #286675;
}

body .navbar .navbar-inner {
    background: #368497;
}

#logo {
    display: block;
    float: left;
    margin: 10px 30px 0 0;
    background: url('/assets/logo.png');
    width: 93px;
    height: 39px;
}

.btn-primary {
    .gradient_ttb(#368497, #368497, #3ea4bd, 0);
}

.btn-primary:hover {
    .gradient_ttb(#368497, #3a8ea4, #3fadc7, 0);
}

// Global styles

h2 {
    font-weight: 500;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

.container {
    max-width: 980px;
}

.body-container {
    width: 980px;
    margin: 20px auto;
    padding-bottom: 50px;
}

.help {
    color: #fff;
    background: #c09853;
    border-radius: 10px;
    padding: 2px 5px;
    text-shadow: none;
    margin-left: 3px;
    font-size: 10px;
}

.tooltip {
    text-decoration: none;
}

.help:hover {
    text-decoration: none;
    color: #fff;
}

.close {
    border: 0;
    background: none;
    padding: 0;
}

hr {
    margin: 40px 0;
}

p {
    font-size: 14px;
    line-height: 22px;
}

// Form stuff

body form input[type=text], body form input[type=password], body form input[type=email] {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
}

input[type=submit] {
    padding: 10px;
}

.form-error {
    color: red;
    float: right;
}

form label {
    clear: left;
    font-size: 16px;
    float: left;
    padding-bottom: 5px;
}

.middleform {
    margin: 0px auto;
    width: 400px;
}

#signup {
    
}

#signup h2, #login h2 {
    text-align: center;
}

#signup > p, #login > p, #payment > p  {
    color: #4a4a4a;
    text-align: center;
    margin: 20px 0 30px 0;
}

#signup form input[type=submit], #login form input[type=submit] {
    margin-top: 10px;
    float: right;
}

.signup_links {
    margin-top: 12px;
    float: left;   
}

// Documentation

.nav-list li a {
    color: #368497;
}

.nav-list li.active a, .nav-list li.active a:hover {
    background: #368497;
}

.doc_table {
    margin: 30px 0;
}

.doc_table p {
    margin: 10px 0;
}

pre {
    margin: 10px 0;
}

.doc_table .key {
    font-weight: bold;
}

.documentation_content {
    float: right;
}

// Home

.hero-unit {
    background: url('/assets/escheresque_ste.png');
    border-radius: 0;
    text-align: center;
    color: #fff;
    padding: 90px 0;
}

.hero-unit h1, .hero-unit p {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.hero-inner, .row-inner {
    width: 980px;
    margin: 0px auto;
}

.hero-inner h1 {
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.hero-unit p {
    margin-bottom: 30px;
    color: #cccccc;
    font-weight: 300;
}

.row-inner > div {
    background: #f6f6f6;
    width: 296px;
    margin-top: 20px;
    padding: 17px;
    height: 240px;
}

.sound-cool {
    text-align: center;
}

#columns h2 {
    line-height: 32px;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 25px; 
}

#columns p {
    font-size: 14px;
    line-height: 22px;
}

// Dashboard

#dashboard h1 {
    padding: 20px 0 40px 0;
}

#dashboard #auth_token {
    width: 500px;
}

#dashboard #auth_token h2 {
    margin-bottom: 15px;
}

#dashboard #upgrade-action {
    margin-top: 5px;
    float: right;
}

#dashboard code {
    font-size: 14px;
    padding: 8px;
}

#dashboard p {
    padding: 10px 0;
    font-size: 14px;
}

#dashboard #manage_account span {
    font-weight: 500;
}
#dashboard #manage_account h4 {
    font-weight: 300;
    float: left;
}

// Payment

#card_number_container {
    float: left;
    width: 245px;
}

#cvc_container {
    float: left;
    margin-left: 10px;
}

#payment h2 {
    text-align: center;
}

#payment form h3 {
    text-align: center;
    clear: both;
    padding: 10px 0;
}

#payment form .btn {
    display: block;
    margin: 25px auto;
    width: 200px;
}

#payment input[type=text] {
    float: left;
}

#payment #payment_cvc {
    clear: both;
    width: 100px;
}

#payment #payment_card_expiration_month {
    clear: both;
    width: 50px;
}

#payment #slash {
    font-weight: 300;
    font-size: 25px;
    margin: 10px 10px 0 10px;
    float: left;
}

#payment #payment_card_expiration_year {
    width: 100px;
}

.payment-errors {
    display: none;
}
